<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cg.peopletrivia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/HFQ"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.cg.peopletrivia.HomeScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cg.peopletrivia.CategoriesActivity"
            android:parentActivityName="com.cg.peopletrivia.HomeScreen">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.cg.peopletrivia.HomeScreen" />
        </activity>
        <activity android:name="com.cg.peopletrivia.PoliticiansActivity" />
        <activity android:name="com.cg.peopletrivia.ResultsActivity"></activity>
    </application>

</manifest>